<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @window.activity_id %>
</p>

<p>
  <b>End time:</b>
  <%= @window.end_time %>
</p>

<p>
  <b>Begin time:</b>
  <%= @window.begin_time %>
</p>


<%= link_to 'Edit', edit_window_path(@window) %> |
<%= link_to 'Back', windows_path %>
