<p id="notice"><%= notice %></p>

<div class="heading">
  <div class="row">
    <div class="large-2 columns">&nbsp;</div>
    <% (0..6).each do |i| %>
      <div class="large-1 columns">
        <%= day_name(i) %>
      </div>
    <% end %>
    <div class="columns large-1">Total</div>
    <div class="columns large-1">Last Week</div>
  </div>
</div>
<% @categories.each do |category| %>

  <div class="row category">
    <% category.activities.each do |activity| %>
      <%# next unless activity.budget && activity.budget > 0 %>
      <div class="row activity-row">
        <div class="row-12 columns activity-summary" data-activity-id='<%= activity.id %>'>
          <div class="large-2 columns">
            <%= link_to(edit_activity_path(activity)) do %>
              <%= activity.name %>
            <% end %>
          </div>
          <% (0..6).each do |i| %>
            <div class="large-1 columns">
              <%= time_by_activity(@this_week, activity.old_id, i) %>
            </div>
          <% end %>
          <div class="large-1 columns">
            <%= time_by_activity(@this_week, activity.old_id) %>
          </div>
          <div class="large-1 columns">
            <%= time_by_activity(@last_week, activity.old_id) %>
          </div>
        </div>
      </div>

    <% end %>
    <div class="row">
      <div class="row-12 columns category-total">
        <div class="large-4 columns">
          <%= link_to(category_path(category)) do %>
            Total <%#= category.name %>
          <% end %>
        </div>
        <div class="large-8 columns">
          <% [0..6].each do |i| %>
            <%#= event_day_category_total(category, i) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>