<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>

  <div class="row category">
    <% category.activities.each do |activity| %>
      <% next unless activity.budget && activity.budget > 0 %>
      <%# next unless @one_week_ago.inject(0) {|sum, hash| sum + hash[category.id][:activities][activity.old_id][:total] } > 0 %>
      <div class="row activity-row" style="border-bottom:solid;border-bottom-color: gainsboro; border-bottom-width: 1px">
        <div class="row-12 columns activity-summary" data-activity-id='<%= activity.id %>'>
          <div class="large-4 columns">
            <%= link_to(edit_activity_path(activity)) do %><%= activity.name %>
            <% end %>
          </div>
          <div class="large-2 columns"><%= activity.budget %></div>
          <div class="large-2 columns activity-time-total">
            <div class="flot-placeholder has-tip tip-top" data-time-total="<%= @one_week_ago[category.id][:activities][activity.old_id][:total] %>" data-time-budget="<%= activity.budget || '--' %>" style="height:30px; width: 100%;" data-tooltip title="You spent <%= @last_week_compare[category.id][:activities][activity.old_id][:total] %> hours last week, and have planned <%= @today_compare[category.id][:activities][activity.old_id][:total] %>  "></div>
          </div>
          <div class="large-1 columns">
            <%= @one_week_ago[category.id][:activities][activity.old_id][:total] %>
          </div>
          <div class="large-2 columns end activity-time-total">
            <div class="flot-placeholder has-tip tip-top" data-time-total="<%= @next_week[category.id][:activities][activity.old_id][:total] %>" data-time-budget="<%= activity.budget || '--' %>" style="height:30px; width: 100%;" data-tooltip title="You spent <%= @last_week_compare[category.id][:activities][activity.old_id][:total] %> hours last week, and have planned <%= @today_compare[category.id][:activities][activity.old_id][:total] %>  "></div>
          </div>
          <div class="large-1 columns">
            <%= @next_week[category.id][:activities][activity.old_id][:total] %>
          </div>

        </div>
      </div>

    <% end %>
    <div class="row">
      <div class="row-12 columns category-total">
        <div class="large-4 columns">
          <%= link_to(category_path(category)) do %>Total <%= category.name %>
          <% end %>
        </div>
        <div class="large-2 columns end">
          <%= category.budget %>
        </div>
        <div class="large-6 columns end activity-time-total">
          <div class="flot-placeholder has-tip tip-top" data-time-total="<%= @one_week_ago[category.id][:total] %>" data-time-budget="<%= category.budget || '--' %>" style="height:30px; width: 100%;" data-tooltip title="You spent <%= @last_week_compare[category.id][:total] %> hours last week, and have planned <%= @today_compare[category.id][:total] %>  "></div>
        </div>
        <div class="large-2 columns end">
          <%= @one_week_ago[category.id][:total] %> %>
        </div>
        <div class="large-6 columns end activity-time-total">
          <div class="flot-placeholder has-tip tip-top" data-time-total="<%= @next_week[category.id][:total] %>" data-time-budget="<%= category.budget || '--' %>" style="height:30px; width: 100%;" data-tooltip title="You spent <%= @last_week_compare[category.id][:total] %> hours last week, and have planned <%= @today_compare[category.id][:total] %>  "></div>
        </div>
        <div class="large-2 columns end">
          <%= @next_week[category.id][:total] %> %>
        </div>
      </div>


    </div>
  </div>
<% end %>