<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>

  <div class="row category">
    <div class="row">
      <div class="row-8 columns">
        <%= category.name %>
      </div>
    </div>

    <% category.activities.each do |activity| %>
      <% next unless @time_periods.inject(0) {|sum, hash| sum + hash[category.id][:activities][activity.old_id][:total] } > 0 %>
      <div class="row">
        <div class="row-8 columns">
          <div class="large-4 columns">
            <%= activity.name %>
          </div>
          <% @time_periods.each do |time_period| %>
            <div class="large-1 columns end">
              <%= time_period[category.id][:activities][activity.old_id][:total] || "-" %>
            </div>
          <% end %>

        </div>
      </div>

    <% end %>

    <div class="row">
      <div class="row-8 columns category-total">
        <div class="large-4 columns">
          Total
        </div>
        <% @time_periods.each do |time_period| %>
          <div class="large-1 columns end">
            <%= time_period[category.id][:total] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>