<%= form_for(@weekly_plan) do |f| %>
  <% if @weekly_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_plan.errors.count, "error") %> prohibited this weekly_plan from being saved:</h2>

      <ul>
      <% @weekly_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :number_of_hours %><br />
    <%= f.text_field :number_of_hours %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
