<% @activities.each do |activity| %>
    <tr>
      <td><%= activity.old_id %></td>
      <td><%= activity.name %></td>
    <td><%= activity.category_id %></td>
    <td><%= activity.budget %></td>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(activity) %></td>
    <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<br />

<%= link_to 'New Activity', new_plan_path %>
